@import './inc/fonts';

$text_green : #83a938;
$btn_green: #83a938;
$text_brown: #6c513e;
$btn_brown: #6c513e;

::selection {
    background: #83a938;
    color: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #1e1c1d;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

.text, .text h1, .text h2, .text h3, .text h4  {
    color: #fff;
    text-shadow: 1px 2px 1px #0000008f;
    font-weight: 600;
    margin: 0;
}

.btn {
    padding: 10px 15px;
    border-radius: 4px;
    color: #fff;
    background-color: $btn_green;

    &:hover {
        color: #fff;
        background-color: $btn_brown;
    }
}

.header {
    height: 573px;
    position: relative;

    @media(--small-only) {
        height: 150px;
    }

    a {
        display: flex;
        height: 100%;
        cursor: pointer;
        text-decoration: none;
        background-size: cover;
        background-repeat: no-repeat;


        &.sales {
            background-image: url("../img/header/sales.jpg");
            @media(--small-only) {
                background-position-y: 30%;
            }
        }

        &.rent {
            background-image: url("../img/header/rent.jpg");
            @media(--small-only) {
                background-position-y: 40%;
            }
        }

        &.service {
            background-image: url("../img/header/service.jpg");
            @media(--small-only) {
                background-position-y: 30%;
            }
        }

        .overlay {
            margin: auto;
            font-weight: 600;
            color: #fff;
            text-align: center;
        }

        .text {
            display: block;
            text-align: center;

            &:after {
                content: '';
                display: block;
                width: 25%;
                margin: 15px auto 5px;
                border-bottom: 2px solid #fff;
            }
        }

        .price {
            color: #fff;
        }
    }

    a{
        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0.5;
          transition: 0.3s;
        }

        &:hover:after {
            opacity: 1;
            background: rgba(12, 12, 12, 0.5);
        }
    }
}

section {
    padding: 30px 0;

    h1, h2, h3, h4 {
        color: $text_green;
        font-weight: 600;
    }

    .notify {
        border: 1px solid #a8ca28;
        padding: 20px;
        text-align: center;
    }

    .banner {
        position: relative;
        height: 500px;
        width: 100%;
        margin-bottom: 15px;
        background-repeat: no-repeat;

        .text {
            position: absolute;
            text-align: center;
            top: 45%;
            left: 40%;
        }
    }

    &.sales-section {
        .items {
            position: relative;
            padding: 15px 0;

            .item {
                position: static;

                a {
                    display: block;
                    margin-bottom: 50px;
                    text-decoration: none;
                    text-align: center;
                    font-weight: 600;

                    img.shower {
                        margin-top: -50px;
                    }

                    h3 {
                        font-weight: 600;
                        color: $text_green;
                    }

                    .price {
                        display: block;
                        font-size: 24px;
                        color: $text_brown;
                    }
                }

                .description {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #fff;
                    height: 100%;
                    width: 100%;
                    z-index: 9999;

                    &.visible {
                        display: block;
                    }

                    .cost-block {
                        border: 1px solid #31332c33;
                        border-radius: 4px;
                        padding: 20px 20px 20px 40px;
                        box-shadow: 0 1px 8px 0 rgba(0,0,0,.06), 0 2px 2px 0 rgba(0,0,0,.12);

                        .cost {
                            color: $text_brown;
                        }

                        .btn {
                            margin: 30px 0 15px;
                            width: 100%;
                        }

                        .special-offer {
                            color: $text_brown;
                        }
                    }

                    .info {
                        .caption {
                            color: inherit;
                            font-weight: inherit;
                        }

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    &.service-section {
        ul { margin-left: 25px; }
        .service-block {
          .banner {
            background: url("../img/service/service-big.jpg");
          }
        }
        .sanitation-block {
          .banner {
            background: url("../img/service/sanitation-big.jpg");
          }

          .text {
            top: 35%;
          }
        }
    }

    &.rent-section {
        .banner {
            background: url("../img/service/rent-big.jpg");
            .text {
                top: 35%;
                left: 42%;
            }

        }
    }
}